.modal {
    height: 580px;
    width: 510px;

    /* background-color: rgba(143, 165, 237, 0.4); */
    background-color: rgba(26, 144, 255, 0.5);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    opacity: 0;
    pointer-events: none;

    &__content {
        padding: 20px;
        border-radius: 12px;
        background-color: white;
        /* width: 50vw; */
        transform: scale(0.5);
        transition: 0.4s all;
        height: 580px;
        width: 510px;
    }

    // &.active {
    //     opacity: 1;
    //     pointer-events: all;

    // }

    & .modal__content {
        .active {
            transform: scale(1);
        }
    }

}