.wrap {
    position: relative;
    top: 100px;
    left: 200px;
}

.modal {
    padding: 20px;

    /* background-color: rgba(143, 165, 237, 0.4); */
    background-color: #80c6f8;

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    opacity: 0;
    pointer-events: none;

    &__content {

        padding: 20px;
        border-radius: 12px;
        background-color: white;
        // width: 80%;
        transform: scale(0.5);
        transition: 0.4s all;
        min-height: 480px;
        width: 570px;

    }

    &__form {
        label {
            font-size: 23px;
        }

        input {
            height: 36px;
            font-size: 20px;
        }

        button {
            font-size: 24px;
            height: inherit;
        }

    }

    &.active {
        opacity: 1;
        pointer-events: all;

    }

    & .modal__content {
        .active {
            transform: scale(1);
        }
    }

}