.favorites-block {
    width: 60%;
    background-color: red;
    text-align: left;

}

.favorite-item {
    border: none;
    background-color: white;
    display: block;
}

.wrap-favorites {
    text-align: -webkit-center;

}