.header {
    height: 80px;
    background-color: #FFFFFF;
    border-bottom: 2px solid #E5E5E5;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
}

.header img {
    height: 48px;
    position: relative;
    top: 15px;
}

.header .btn {
    color: #1390E5;
    font-size: 18px;
    background-color: white;
    height: 100%;
    border: none;
}

.header-wrap {
    height: inherit;
    align-self: center;
    display: flex;
    margin-left: 30px;
}


.wrap-link a {
    height: inherit;
    vertical-align: middle;
    text-decoration: none;
    color: #1390E5;
    display: table;
    line-height: 80px;
}

.active {
    border-bottom: 2px solid #1390E5;
}

.empty {
    width: 30px;
}