.wrap {
    /* background-color: rgb(241, 168, 168); */
    padding-top: 15px;
}

.video-sort {
    margin: 12px 0 12px;
}

.filter-panel {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.filter-panel p {
    width: 650px;
}

.sort-list,
.sort-grid {
    padding-left: 20px;

}

.video-sort button {
    background-color: white;
    border: none;
}

.sort-opacity {
    opacity: 50%;
}


.video-grid {
    width: 100%;
}

.wrap-video-grid {
    /* background: pink; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 225px;
}

.video-item-grid {
    /* border: 1px solid red; */
}

.video-title-grid {
    width: inherit;
    height: 32px;
    overflow: hidden;
    font-weight: 500;
    line-height: 16px;
    margin: 0;
}

.video-item-grid .video-grid {}

.video-item-grid .video-views-grid {
    /* background: greenyellow; */
    color: rgba(23, 23, 25, 0.3);
    margin: 0;
    overflow: hidden;
    height: 32px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
}

.video-wrap-list {
    /* background-color: aqua; */
    width: 687px;
}

.video-list {
    height: inherit;
    width: 200px;
    margin-right: 20px;
}

.video-item-list {
    /* border: 1px solid red; */
    height: 90px;
    margin-bottom: 20px;
    display: flex;
}

.video-item-list .block {
    display: block;
}

.video-title-list,
.video-views-list {
    height: 40px;
    width: 450px;
    /* background-color: aliceblue; */
}

.video-title-list,
.video-views-list {
    text-align: left;
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.video-views-list {
    color: grey;
}