.wrap-video {
    display: grid;
    width: 100%;
}

.video-item {
    display: block;
    width: 245px;
    height: 220px;
    background: yellow;
}

.video-item .video {
    width: 245px;
    height: 138px;
}

.video-item .video-title,
.video-item .video-views {
    background: orange;
    height: 32px;
    line-height: 16px;
    overflow: hidden;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    margin: 0;
    justify-content: left;
}

.video-item .video-title p {
    margin: 0;
    overflow: hidden;
}

.video-item .video-views {
    background: greenyellow;
    color: rgba(23, 23, 25, 0.3);
}

.filter-panel {
    display: flex;
    justify-content: space-between;
}

.video-sort {
    margin: 12px 0 12px;
}

.sort-list,
.sort-grid {
    padding-left: 20px;

}

.video-sort button {
    background-color: white;
    border: none;
}

.sort-opacity {
    opacity: 50%;
}